<div class="dash-navbar-left">

  <div class="list-group panel">

    <a [routerLink]="['/']" routerLinkActive="active"
       class="list-group-item collapsed" data-parent="#sidebar">
      <i class="fas fa-cubes"></i> <span class="hidden-sm-down">&nbsp;&nbsp;Stocks</span>
    </a>

    <a [routerLink]="['/settings']" routerLinkActive="active"
       class="list-group-item collapsed" data-parent="#sidebar">
      <i class="fa fa-cog fa-fw"></i> <span class="hidden-sm-down">&nbsp;Settings</span>
    </a>

  </div>

</div>
